body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body {
	background-color: #F4F0E8;
	background-image: url('targetface2.png');
	background-position:right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#wrap{
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 600px;
  	display: block;
  	margin-left: calc(50% - 300px);
    margin-right: calc(50% - 300px); 
}

#wrap #title{
	position: relative;
	display: table-cell;
	font-size: 55px;
	float: left;

}
#wrap .form{
	float: left;
	margin-left: 10px;
	padding-right: 10px;
	border-right-style: dashed;
    border-width: medium;
}
